:root {
    --dark: #2F303A;
    --black: #000;
    --white: #fff;
    --blue: #4682b4;
    --orange: #ff9c71;
    -purple: #685f81;
}

body {
    background: var(--dark);
    color: var(--white);
}




